<h1>Servicios:</h1>
<div class="card-group">
    <div class="card">
        <h3 class="card-header">Cortes</h3>
      
        <div class="card-body">
            <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/cortes.png"alt="Card image cap"> 
             <h4 class="card-title">Precio:</h4>
            <p class="card-text">Descripcion: </p>
            <a href="#!" class="btn btn-primary">Agendar</a>
        </div>
      </div>

      <div class="card"  >
        <h3 class="card-header">Tintes</h3>
        <div class="card-body">
            <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/tintes.png"alt="Card image cap"> 
            <h4 class="card-title">Precio:</h4>
            <p class="card-text">Descripcion</p>
            <a href="#!" class="btn btn-primary">Agendar</a>
        </div>
      </div>

      <div class="card">
        <h3 class="card-header">Alisados</h3>
        <div class="card-body">
            <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/alisados.png"alt="Card image cap"> 
            <h4 class="card-title">Precio:</h4>
            <p class="card-text">Descripcion</p>
            <a href="#!" class="btn btn-primary">Agendar</a>
        </div>
      </div>
      

  </div>
  