<h1>Servicios:</h1>
<div class="card-group">
  <div class="card">
    <h3 class="card-header">Cortes</h3>

    <div class="card-body">
      <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/cortes.png" alt="Card image cap">
      <h4 class="card-title">Precio:</h4>
      <p class="card-text">Descripcion: </p>
      <button class="btn btn-primary" (click)='agendar("Cortes")'>Agendar</button>
    </div>
  </div>

  <div class="card">
    <h3 class="card-header">Tintes</h3>
    <div class="card-body">
      <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/tintes.png" alt="Card image cap">
      <h4 class="card-title">Precio:</h4>
      <p class="card-text">Descripcion</p>
      <button class="btn btn-primary" (click)='agendar("Tintes")'>Agendar</button>
    </div>
  </div>

  <div class="card">
    <h3 class="card-header">Alisados</h3>
    <div class="card-body">
      <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/alisados.png" alt="Card image cap">
      <h4 class="card-title">Precio:</h4>
      <p class="card-text">Descripcion</p>
      <button class="btn btn-primary" (click)='agendar("Alisados")'>Agendar</button>
    </div>
  </div>

</div>

<div class="card-group">
  <div class="card">
    <h3 class="card-header">Recogido</h3>
    <div class="card-body">
      <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/recogidos.png" alt="Card image cap">
      <h4 class="card-title">Precio:</h4>
      <p class="card-text">Descripcion</p>
      <button class="btn btn-primary" (click)='agendar("Recogido")'>Agendar</button>
    </div>
  </div>

  <div class="card">
    <h3 class="card-header">Mechas</h3>
    <div class="card-body">
      <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/mechas.png" alt="Card image cap">
      <h4 class="card-title">Precio:</h4>
      <p class="card-text">Descripcion</p>
      <button class="btn btn-primary" (click)='agendar("Mechas")'>Agendar</button>
    </div>
  </div>

  <div class="card">
    <h3 class="card-header">Desrizados</h3>
    <div class="card-body">
      <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/desrizado.png" alt="Card image cap">
      <h4 class="card-title">Precio:</h4>
      <p class="card-text">Descripcion</p>
      <button class="btn btn-primary" (click)='agendar("Desrizados")'>Agendar</button>
    </div>
  </div>
</div>



<div class="card-group">
  <div class="card">
    <h3 class="card-header">Peinado de fiesta</h3>
    <div class="card-body">
      <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/fiesta.png" alt="Card image cap">
      <h4 class="card-title">Precio:</h4>
      <p class="card-text">Descripcion</p>
      <button class="btn btn-primary" (click)='agendar("Peinado de Fiesta")'>Agendar</button>
    </div>
  </div>

  <div class="card">
    <h3 class="card-header">Baños de Color</h3>
    <div class="card-body">
      <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/color.png" alt="Card image cap">
      <h4 class="card-title">Precio:</h4>
      <p class="card-text">Descripcion</p>
      <button class="btn btn-primary" (click)='agendar("Baños de Color")'>Agendar</button>
    </div>
  </div>

  <div class="card">
    <h3 class="card-header">Modelados</h3>
    <div class="card-body">
      <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/moldeados.png" alt="Card image cap">
      <h4 class="card-title">Precio:</h4>
      <p class="card-text">Descripcion</p>
      <button class="btn btn-primary" (click)='agendar("Modelados")'>Agendar</button>
    </div>
  </div>
</div>


<div class="card-group">
  <div class="card">
    <h3 class="card-header">Maquillajes</h3>
    <div class="card-body">
      <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/maquillajes.png" alt="Card image cap">
      <h4 class="card-title">Precio:</h4>
      <p class="card-text">Descripcion</p>
      <button class="btn btn-primary" (click)='agendar("Maquillajes")'>Agendar</button>
    </div>
  </div>

  <div class="card">
    <h3 class="card-header">Tratamiento (caspa,caida)</h3>
    <div class="card-body">
      <img class="card-img-top" style="width: 100px;" src="../../assets/servicios/capilar.png" alt="Card image cap">
      <h4 class="card-title">Precio:</h4>
      <p class="card-text">Descripcion</p>
      <button class="btn btn-primary" (click)='agendar("Tratamiento")'>Agendar</button>
    </div>
  </div>

 
  <div class="card">
    <h3 class="card-header">Visita estas recomendaciones</h3>
      <ngx-qrcode
        [elementType] = "elementType"
        [value] = "value"
        cssClass = "aclass"
        [errorCorrectionLevel] = "errorCorrectionLevel">
      </ngx-qrcode>
  </div>
  
</div>
  