<div>
    <div>
        <h1>FAQ</h1>
    </div>
    <div class=" accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    ¿Cuesta dinero el crear una cuenta?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                <div class="accordion-body">
                    <strong>No!</strong> Crear cuentas con nosotros no cuesta dinero. Las cuentas creadas en este sitio
                    son para tener un registro de las citas que se lleguen a hacer.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿Por qué aplazan mi cita?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                <div class="accordion-body">
                    <strong>Esto se debe a varias razones.</strong> Bueno nuestra estética esta en pleno crecimiento y
                    debido a esto algunas veces nuestros estilistas no pueden con tanta carga de trabajo, sabemos que
                    esto crea muchos inconvenientes y esto genera que cancelen sus citas por lo cual tratamos de casi
                    nunca posponer citas que creamos que son importantes o urgentes. Si eres afectado por esto se
                    tratará de dar alguna especie remuneración mas detalles en el establecimiento.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ¿Si canceló mi cita se hace devolución en caso de págar de antemano?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                <div class="accordion-body">
                    <strong>Si!</strong> En dado caso de que por cualquier razón usted cancele su cita su dinero será
                    devuelto con la mayor brevedad posible. Se tratará de informar cuando su dinero sea devuelto.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    ¿Es necesario crear una cuenta para crear citas?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                <div class="accordion-body">
                    <strong>Si!</strong> Es necesario crear una cuenta para poder acceder al registro de citas.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    ¿Para qué sirve una cuenta?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                <div class="accordion-body">
                    <strong>Por varias razones.</strong>
                    <ul class="list-group">
                        <li class="list-group-item">El crear una cuenta en nuestro sitio web te permite agendar citas
                            con nosotros para que no tengas inconvenientes al momento de llegar a nuestro
                            establecimiento.</li>
                        <li class="list-group-item">Puedes tener un control de las citas que has programado o hecho en
                            algún momento, esto se refiere a poder cancelar citas futuras y repasar la información de
                            las citas que has tenido con nosotros.</li>
                        <li class="list-group-item">Es un control que llevamos nosotros en nuestro establecimiento para
                            agendar de una manera mas controlada las citas y poder realizar ciertos ajustes a estas.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>