<h1>Conoce nuestros productos</h1>
<!--
<div class="card-columns">
    <div class="card text-center" *ngFor="let x of productos, let i=index">
        <div class="card-header">
            <img src="{{x._img}}" class="card-img-top" alt="Imagen de producto">
            <h5 class="card-title">{{x._nombre}}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{x._descripcion}}</p>
            <p class="card-text"><small class="text-muted">{{x._costo}}</small></p>
        </div>
        <div class="card-footer">
 <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block">Ver más</a>
        </div>
    </div>
</div> -->

<div class="row row-cols-1 row-cols-md-3 g-4" >
    <div class="col" *ngFor="let x of productos, let i=index">
      <div class="card">
        <img src="{{x._img}}" class="card-img-top" alt="Imagen de producto">
        <div class="card-body">
          <h5 class="card-title">{{x._nombre}}</h5>
          <p class="card-text">{{x._descripcion}}</p>
          <p class="card-text">${{x._costo}}</p>
        </div>
      </div>
    </div>
  
    
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Mas informacion
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  