
<div class="container">
    <h3>
        {{editmode == false ? 'Ingresar Producto':'Editar Producto'}}
    </h3>
    <div class="form-group ">
        <label for="">Nombre:</label>
        <input type="text" class="form-control" [(ngModel)]="nombre">
    </div>
    <div class="form-group">
        <label for="">Descripcion:</label>
        <input type="text" class="form-control" [(ngModel)]="descripcion" >
    </div>
    <div class="form-group">
        <label for="">Costo:</label>
        <input type="number" class="form-control" [(ngModel)]="costo">
    </div>
    <div class="form-group">
        <label for="">img:</label>
        <input  type="file" class="form-control" >
    </div>
    <div class="form-group mt-3">
        <button class="btn btn-primary" type="button" (click)="fnSave()">
            {{editmode == false ? 'Guardar':'Editar'}}
        </button>
    </div>
</div>
<br>
<hr>
<div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Costo</th>
                <th scope="col">Acciones</th>
              </tr>
        </thead>
        <tbody *ngFor="let x of servicioProducto.productos, let i=index">
            <tr>
                <th scope="row">{{x._id}}</th>
                <td>{{x._nombre}}</td>
                <td>{{x._descripcion}}</td>
                <td>{{x._costo}}</td>
                <td><a
                    href="javascript:void(0)"
                    class="icon-button"
                    (click)="editarProducto(x)"
                    >
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <a
                    href="javascript:void(0)"
                    class="icon-button" 
                    (click)="DeleteProducto(x)"
                    >
                    <i class="fas fa-trash-alt"></i>
                  </a></td>
              </tr>
        </tbody>
      </table>
    
</div>