<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['home']">Inicio</a>
        </li>
 
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['servicios']">Servicios</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['productos']">Productos</a>
        </li>

        <ul class="navbar-nav mr-auto" *ngIf="user$ | async as user; else login">

          <li class="nav-item" routerLinkActive="active"  *ngIf='user.email == "admin@gmail.com"'>
            <a class="nav-link" [routerLink]="['admin']">Administrador</a>
          </li>

          <li class="nav-item" routerLinkActive="active"  *ngIf="user">
            <a class="nav-link" href="" (click)="onLogout()">Salir</a>
          </li>
  
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link">{{user?.email}} {{user?.phoneNumber}}</a>
          </li>
          
        </ul>

        <ng-template #login>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/login">Iniciar Sesion</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/register">Registrarse</a>
            </li>
        </ul>
        </ng-template>
      </ul>
      
    </div>
  </nav>